h1 {
  color: purple;
  font-size: 160px;
  box-shadow: 5px 10px #888888;
  margin: 35px;
   margin-bottom: 35px;
   margin-right: 100px;
}
#s {
  color: purple;

}
#Se{
  filter: grayscale(100%);
  position: relative;
  animation: mymove 18s infinite;}
@keyframes mymove {
  from {left: 0px;}
  to {left: 800px;}
}
body {background-color: rgb(138,2,31,0.3);
 }
#SD {
  font-family: "Times New Roman", Times, serif;
  font-feature-settings: "c2sc", "smcp"; position: absolute;
  left: 500px;
  top: 650px;
  width: 155px;
    height: 100px;
  background-color: grey;
border: 1px solid #323232;

}
