#Men {
  border-style: double;
  margin-left: 800px;
  margin-bottom:  800px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 80px;
  width: 20%;
  position: absolute;
  top: 1000px;
  left: 16px;
  font-size: 18px;
  background-color: lightblue;

 overflow: scroll;
}
#Chel{
  border-style: dotted;
  width: 50%;

}
#Sen{
  border-style: solid;
   display: block;
  position: absolute;
  height: 20%;
  top: 750px;
  margin-left: 800px;
    left: 16px;
  font-size: 18px;
}
#Uwu{
  padding-right: 500px;

}
